@model ResumePortfolioSite.ViewModels.ResumeIndexViewModel

<h1>Bitty Cat</h1>
<br />
<hr />



<h2>Education</h2>

@if(Model.EducationItems.Count() == 0)
{
    <p>Coming soon...</p>
}
else
{
    foreach (Education educationItem in Model.EducationItems)
    {
        string graduationYear = "Present";
        if (educationItem.GraduationYear != null)
        {
            graduationYear = educationItem.GraduationYear.ToString();
        }
        
        <h3>@educationItem.SchoolName</h3>
        <p>@educationItem.StartYear to @graduationYear</p>
        <p>@educationItem.Degree</p>
        <br />
    }
}
<hr />


<h2>Jobs</h2>
<p>Coming soon...</p>

<hr />

<h2>Skills</h2>
<p>Coming soon...</p>

<br />
